* {
	font-family: Roboto, sans-serif;
}

#logo {
	text-align: left;
	font-size: 32px;
}

#itens {
	align-items: center
	justify-content: right;
	color: white;
	word-spacing: 2px;
	text-weight: bold;
}

div {
	background-color: #b3949b;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

article {
	justify-content: center;
	margin-left: 450px;
	margin-top: 200px;
}

#plantas {
	color: #b3949b;
	padding: 3px;
}